/*para ordenador*/

* {
  padding: 8px;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

footer,
article {
  background-color: white;
}

header div.primer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.xxss {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navegador {
  flex: 6 1 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navenlace {
  padding: 5px;
}

.navenlace:hover {
  background-color: #e16459;
  color: white;
  font-size: large;
  border-radius: 50px;
  height: 5rem;
  padding: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header div.segon {
  background-color: #d8d7d7;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  margin-top: 8%;
  margin-left: 6%;
  margin-right: 6%;
  padding-bottom: 4%;
  height: 4.5rem;
}

.title {
  color: #e38258;
  font-family: Times, serif;
  font-weight: 10;
  font-size: 30px;
  text-align: center;
  animation: title 1s ease-in;
  animation-delay: 1.5s;
}
footer {
  background-color: #d8d7d7;
  padding-top: 0;
  padding-bottom: 0;
}

footer div {
  background-color: #f4f1f1;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #757373;
}

footer div p {
  padding: 0;
  margin: 0;
}
article {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  flex: 3 1;
}

article section {
  background-color: #d8d7d7;
  display: flex;
  flex-flow: row wrap;
  padding: 0%;
  flex-basis: 180%;
}

.cards {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 8px;
  width: 46.4%;
  position: relative;
}

article section div img {
  max-width: 100%;
  height: auto;
  padding: 0%;
}

.container {
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  animation: moveSquare 2s;
  animation-direction: alternate;
  animation-delay: 1.5s;
}

.container > .crop {
  position: absolute;
  bottom: -20%;
  min-height: 100%;
  min-width: 100%;
}

.fecha {
  position: absolute;
  top: 186px;
  left: 14px;
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: #edde91;
  font-family: Arial, sans-serif;
}

.more {
  padding: 8px;
  margin: 0;
  color: #8e8e8e;
  font-family: Arial, Helvetica, sans-serif;
}

div.last {
  background-color: #d8d7d7;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

div.last p {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0%;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 16px;
}
article aside {
  background-color: #d8d7d7;
  margin-left: 8px;
  flex-basis: 55%;
}

article aside div {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 0%;
  padding-bottom: 0%;
}

article aside div h3 {
  margin-top: 20px;
  margin-bottom: 4px;
  font-family: Arial, sans-serif;
}

article aside div p {
  margin: 0;
  font-family: Arial, sans-serif;
}

.logoimg {
  width: 4rem;
  position: static;
  animation: logo 2s;
}


i {
  color: #808080;
}

a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  padding: 1rem;
  color: #808080;
  text-decoration: none;
}

.portadachina {
  background-repeat: no-repeat;
  background: url(images/header.jpg);
  background: cover;
  background-position: center 53%;
  padding-bottom: 0%;
}

.subtitulos {
  padding: 0;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 22px;
  background-color: #ef8080;
  padding: 2%;
  padding-top: 3%;
  padding-bottom: 1%;
  color: #faf3eb;
  margin-top: 4px;
}

.description {
  column-count: 2;
  column-gap: 20px;
  column-rule: 1px solid #fff;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #696868;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 8px;
}

/*para ordenador pantalla de 1215 o menos o tableta*/

@media only screen and (max-width: 1215px) {
  article section {
    background-color: #d8d7d7;
    display: flex;
    flex-flow: row wrap;
    padding: 0%;
    flex-basis: 140%;
  }
  article aside {
    flex-shrink: 2;
  }
}

@media only screen and (max-width: 1073px) {
  article section {
    background-color: #d8d7d7;
    display: flex;
    flex-flow: row wrap;
    padding: 0%;
    flex-basis: 80%;
  }

  article {
    flex-direction: column;
  }

  article aside {
    margin-left: 0;
    margin-top: 1%;
  }
}

@media only screen and (max-width: 921px) {
  article section {
    background-color: #d8d7d7;
    display: flex;
    flex-direction: column;
    padding: 0%;
    flex-basis: 80%;
  }

  .cards {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 8px;
    width: auto;
    position: relative;
  }

  article {
    flex-direction: column;
  }

  article aside {
    margin-left: 0;
    margin-top: 1%;
  }
}

/*para tableta*/

@media only screen and (max-width: 800px) {
  article {
    flex-flow: column;
  }

  .title {
    font-size: x-large;
    margin: auto;
  }

  .segon div {
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  header div.primer {
    flex-flow: column;
  }

  article {
    flex-flow: column;
  }

  article section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  article aside {
    flex: 1 1 auto;
  }

  .title {
    font-size: large;
    margin: auto;
  }

  .navenlace:hover {
    background-color: transparent;
    color: rgb(207, 97, 97);
    padding: auto;
    display: flex;
    align-items: center;
    font-size: auto;
  }
  .navegador,
  .xxss {
    background-color: white;
    border-radius: 10px;
    padding: 0;
    margin: 4px;
  }

  .logo {
    display: flex;
    justify-content: center;
  }
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translateY(400px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveSquare {

  0% {
    transform: translateX(-200px);
    transform: translateY(200px);
    opacity: 0%;
  }

  100% {
    transform: translateX(0);
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes logo{
  
  0% { 
    width: 800px;
    height: 800px;
    background-color: #EE7463;
    border-radius: 100%;
  }
  100%{
    width: 4rem;
    height: 4rem;
  }

}